@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: Syncopate;
    src: url(../fonts/Syncopate-Bold.ttf);
}

body {
    background-color: #000 !important;
    overflow-x: hidden !important;
}

h2,
h3,
h4,
h5,
h6,
p,
div,
a,
strong,
span,
li {
    font-family: 'Mulish', sans-serif;
}

a {
    text-decoration: none !important;
}

.strong-font {
    font-family: "Syncopate", sans-serif;
    text-transform: uppercase;
}

section#hero {
    margin-top: 50px !important;
}

svg.mouse-up {
    position: fixed;
    right: 20px;
    bottom: 10%;
    z-index: 99;
    cursor: pointer;
    display: none;
}

.main-button {
    padding: 11px 18px;
    background: transparent;
    border-radius: 999px;
    border: 1px solid #FFF;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    transition: 0.5s ease;
    width: 210px;
    display: inline-block;
    position: relative;
    height: 40px;
    line-height: 18px;
    z-index: 9;
}

.main-button svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
}

.logo {
    position: absolute;
}

.main-button svg {
    pointer-events: none;
}

.absolute.shoe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section {
    position: relative;
    color: #fff;
}

h2.semi-large-title {
    text-transform: uppercase;
    font-weight: bold;
}

svg.figure-icon1 {
    position: absolute;
    top: -50px;
    left: 76%;
    transform: translateX(-104%);
}

svg.figure-icon2 {
    position: absolute;
    bottom: 40px;
    left: -35px;
}

.main-dropdown {
    margin: 70px 0;
}

.step .step-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #fff;
    padding-bottom: 15px;
    margin-bottom: 30px;
    transition: 0.5s ease;
}


.step-content {
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 29px;
    opacity: 0;
    transition: 0.5s ease;
    height: 0;
}

.step:hover svg path {
    fill: #E53988;
}

.step:hover svg {
    transform: rotate(180deg);
}

.step svg,
step path {
    transition: 0.5s ease;
}

.step:hover .step-content {
    opacity: 1;
    height: 65px;
    margin-bottom: 59px;
}

.figital-card-content div {
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 26.774px 26.774px;
    background: #3B1A53;
    display: flex;
    width: 100%;
    height: 117.806px;
    padding: 17.849px 20.527px;
    justify-content: center;
    align-items: center;
    gap: 8.925px;
    opacity: 0;
    transition: 0.5s ease;
}

.gx-5 {
    --bs-gutter-x: 4rem !important;
}

.figital-card-content img {
    width: 100%;
}

.figital-card-content:hover div {
    opacity: 1;
    bottom: -117px;
    z-index: 9;
}

.figital-card-content:hover img {
    border-radius: initial;
}

.inspiration-svg {
    position: absolute;
    right: 0;
    top: -10px;
    width: 100%;
}

.step-child span {
    font-size: 23.343px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.content__container__list li {
    color: #E53988;
}

.figital-card img {
    border-radius: 28px;
}

.figital-card-content {
    position: relative;
}

#figital .row.gx-5:first-child:after,
#mission .row.gx-5:first-child:after {
    content: '';
    position: absolute;
    height: 1px;
    width: calc(100% - 62px);
    background: #fff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.b-text p,
.b-text ul li,
.b-text span {
    font-size: 18px;
}

.sub-page .semi-large-title span {
    font-size: 20px;
}

.row.gx-5.with-hr {
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.row.gx-5.with-hr:after {
    content: '';
    position: absolute;
    height: 1px;
    width: calc(100% - 62px);
    background: #fff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.map-img {
    position: absolute;
    left: 0;
    top: 0;
}

span.see-work {
    font-size: 23px;
    line-height: normal;
    text-decoration-line: underline;
    position: relative;
}

form label {
    color: #fff;
    font-style: normal;
    font-weight: 700;
}

form input {
    font-style: normal;
    font-weight: 700;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    padding: 10px;
    margin-left: 10px;
    color: #fff;
}

.sub-page .content .row.gx-5 .semi-large-title span {
    font-size: 20px;
}

@media (max-width: 767px) {
    .map-box.cn {
        right: 33% !important;
    }

    .map-box.vn {
        right: 43% !important;
    }

    .map-img:before {
        height: 150px !important;
    }

    .map-box.sn {
        right: 43% !important;
    }

    .map-vector {
        display: none !important;
    }

    img.flip-button {
        position: absolute;
        bottom: -17px;
        width: 36px !important;
        right: 37%;
        transform: translateX(-50%);
    }

    .owl-stage-outer {
        padding: 18px 0;
    }

    .flip {
        transform-style: preserve-3d;
        transition: all 1s;
        position: relative;
    }

    .flip:hover {
        transform: rotateY(180deg);
    }

    .face {
        position: absolute;
        height: 100%;
        width: 100%;
        backface-visibility: hidden;
    }

    .face.back {
        display: block;
        transform: rotateY(180deg);
        box-sizing: border-box;
        color: #fff;
        text-align: center;
    }

    .desk-top {
        display: none;
    }

    .desk-top.important {
        display: none !important;
    }

    span.why-us {
        font-size: 20px;
        font-weight: 700;
    }

    svg.blue-star {
        width: 19px;
        margin-right: 15px;
    }

    section#ideas {
        margin-bottom: 300px;
    }

    a.main-button.join-us {
        position: absolute;
        bottom: -70px;
        width: 130px !important;
    }

    .inspiration-svg {
        top: 0px;
    }

    .figure-block img {
        max-width: calc(100% + 150px) !important;
        transform: translateX(-67px);
    }

    #ideas .col-lg-4.col-6.position-relative.wow.fadeInLeftBig {
        align-self: center;
    }

    #figital .row.gx-5:first-child:after,
    #mission .row.gx-5:first-child:after {
        display: none;
    }

    .main-text {
        font-weight: 100;
    }

    span.see-work {
        font-size: 16px;
    }

    #figital .semi-large-title {
        margin-bottom: 25px;
        font-weight: 100;
        font-size: 18px;
    }

    .step-child span {
        font-size: 18px;
    }

    .step .step-child {
        margin-bottom: 15px;
    }

    .step:hover .step-content {
        margin-bottom: 20px;
    }

    svg.figure-icon1 {
        width: 100px;
        left: 122%;
        top: -40px;
    }

    svg.figure-icon2 {
        width: 50px !important;
        left: 45px !important;
        bottom: 0px;
    }

    .position-absolute.tape2 {
        bottom: -376px !important;
    }

    .main-button {
        font-size: 12px;
        width: 155px;
        padding: 9px 15px;
    }

    #nf .main-button svg:last-child {
        display: block !important;
        opacity: 1 !important;
        width: 230px !important;
        top: 56px !important;
        right: -150% !important;
    }

    .main-button {
        font-size: 12px;
        width: 155px;
        padding: 9px 15px;
    }

    section#hero {
        margin-top: 105px !important;
        margin-bottom: 325px;
    }

    .icon.position-absolute {
        top: -58px;
    }

    .content__container {
        margin-top: -20px;
        height: 55px;
    }

    .nf-text:before {
        display: none;
    }

    .star-big svg {
        width: 60px;
    }

    .star-big {
        left: 15px !important;
    }

    .nf-text {
        margin-top: 15px;
        margin-bottom: 20px;
    }

    img.nf-mobile {
        width: 50%;
    }

    .star-decor svg {
        width: 26px;
        margin-top: 0px !important;
    }

    .star-decor {
        right: 15% !important;
        bottom: 50px !important;
    }

    .position-absolute.tape2 img {
        height: 54px;
        bottom: 118px !important;
    }

    .tape img {
        height: 84px !important;
    }

    .position-absolute.logo-partner img {
        height: 63px;
    }

    .position-absolute.logo-partner {
        bottom: -155px !important;
    }

    .floating {
        width: 205px !important;
    }

    .nf-box.position-relative {
        position: relative !important;
    }

    .hovering {
        bottom: -35px !important;
        right: -195px;
    }

    .content__container {
        margin-top: -20px;
    }

    section#hero {
        margin-top: 105px !important;
        margin-bottom: 325px;
    }

    .icon.position-absolute {
        top: -58px;
    }

    .sub-page .logo img {
        width: 180px;
    }

    .map-box.cn:hover img:last-child {

        top: -180%;
        left: -300%;
    }

    .map-box img:last-child {
        width: 212px;
    }

    .nf-box.position-relative {
        margin-left: 0 !important;
    }

    .floating {
        width: 300px;
    }

    .figital-animation svg:first-child {
        width: 80px;
    }

    .figital-animation svg:not(:first-child) {
        width: 40px;
    }

    .map-img {
        top: 200px;
    }

    .map-footer.d-flex {
        display: block !important;
        bottom: 70px;
    }

    .map-footer div:last-child {
        margin-left: 0 !important;
        margin-top: 15px;
    }

    #map .col-lg-8.position-relative {
        height: 750px !important;
    }

    #ideas .col-lg-4:last-child {
        margin-top: 200px;
    }

    .d-flex.footer-link {
        display: block !important;
    }

    .d-flex.footer-link a {
        margin-left: 0 !important;
        width: 100% !important;
        display: block;
        margin-top: 10px;
    }

    .d-fex.social-icon a {
        margin-left: 0 !important;
        margin-right: 25px;
    }

    .d-fex.social-icon {
        text-align: center !important;
    }

    #footer img {
        padding: 0 15px;
        margin-bottom: 25px;
    }

    #footer .row:last-child {
        margin-top: 25px !important;
    }

    #footer {
        padding: 75px 0 !important;
    }

    .main-text {
        font-size: 16px !important;
    }

    #figital .strong-font {
        margin-bottom: 10px !important;
    }

    .figital-animation {
        margin-bottom: 15px;
    }

    #figital .semi-large-title {
        margin-bottom: 25px !important;
        margin-top: 0 !IMPORTANT;
    }

    #figital .row.gx-5.position-relative {
        flex-direction: column-reverse;
    }

    .map-vector img {
        width: 50px;
    }

    .icon-1 svg {
        width: 50px;
    }

    .icon-2 img {
        width: 115px;
    }

    .icon-2 {
        bottom: -250px !important;
        right: 100px !important;
    }

    .icon-1 {
        bottom: -68px !important;
        left: 36px !important;
    }

    .main-button svg:last-child {
        display: none !important;
        width: 0;
    }
}

@media (min-width: 320px) {
    .tape2 img {
        transform: translate(0, 0) rotate(30deg);
    }

    .star-title svg,
    .star-title img {
        width: 80px;
    }

    .sub-page .semi-large-title {
        font-size: 20px;
    }

    section#term {
        margin-top: 70px;
    }

    h1.strong-font {
        font-size: 35px;
    }

    #contact button.main-button {
        margin-top: 20px;
    }

    #contact .figital-animation {
        justify-content: start !important;
    }

    #contact .contact-info {
        margin-bottom: 35px;
    }

    form label {
        font-size: 30px;
    }

    form input {
        font-size: 28px;
        font-style: normal;
        padding: 10px;
        margin-left: 0;
    }

    .gif-hidden img {
        width: 100%;
    }

    .figital-card-content {
        margin-bottom: 25px;
    }

    section {
        margin: 75px 0;
    }

    .story .story-item img,
    .story .story-item video {
        height: 350px;
    }

    .figure-block img {
        max-width: 100%;
    }

    .map-box img:first-child {
        width: 54px;
    }

    section#ideas {
        margin-top: 230px;
    }

    .free-quote-block {
        margin-bottom: 70px;
    }

    .strong-font {
        font-size: 24px;
    }

    .content__container__list li {
        font-size: 30px;
    }

    .logo {
        top: -60px;
        left: 0px;
    }

    .logo img {
        width: 125px;
    }

    .icon img {
        width: 40px;
    }
}

@media (min-width: 768px) {

    #nf .main-button.mobile {
        margin-top: 35px;
    }

    .desk-top {
        display: block;
    }

    .mobile {
        display: none !important;
    }

    .tape2 img {
        transform: translate(0, 0) rotate(13deg);
    }

    section#term {
        margin-top: 120px;
    }

    h1.strong-font {
        font-size: 50px;
    }

    #contact .icon-2 img {
        width: 130px;
        margin-bottom: 50px;
    }

    #contact .contact-info {
        margin-bottom: 50px;
    }

    form label {
        font-size: 32px;
    }

    form input {
        font-size: 30px;
        margin-left: 10px;
    }

    .gif-hidden img {
        width: 351px;
    }

    .gif-hidden {
        right: 0;
    }

    .col-lg-4.col-md-6.position-relative.align-self-center {
        transform: translateY(70px);
    }

    .map-box img:first-child {
        width: initial;
    }

    .map-footer.d-flex {
        bottom: 5%;
    }

    .strong-font {
        font-size: 32px;
    }

    .figure-block {
        justify-content: end;
        display: flex;
    }

    .logo img {
        width: 130px;
    }

    .icon img {
        width: 50px;
    }

    .logo {
        top: -3px;
    }

    section {
        margin: 120px 0;
    }
}

@media (min-width: 1200px) {
    section#figital {
        margin-top: 230px;
    }

    .position-absolute.tape2 img {
        bottom: -45px;
    }

    .footer-text {
        font-size: 16px;
    }

    .figital-card-content div {
        font-size: 13px;
    }

    #figital .col-lg-4 {
        padding-right: 0;
    }

    .figure-block img {
        max-width: 600px;
    }

    .star-title svg,
    .star-title img {
        width: initial;
    }

    .sub-page .semi-large-title {
        font-size: 20px;
    }

    #contact button.main-button {
        margin-left: 60px;
    }

    #contact .icon-2 img {
        width: initial;
        margin-bottom: 0;
    }

    #partnership {
        width: 350px;
    }

    #nf h2.semi-large-title {
        position: absolute;
    }

    #contact .figital-animation {
        justify-content: center !important;
    }

    #contact .contact-info {
        margin-bottom: 113px;
    }

    #contact .icon-2 {
        margin-top: 150px;
    }

    form label {
        font-size: 38px;
    }

    form input {
        font-size: 24px;
    }

    .inspiration.position-relative {
        position: absolute !important;
        bottom: -9px;
    }

    svg.inspiration-svg.show-on-desktop {
        top: initial !important;
        bottom: -175px;
        padding: 30px;
    }

    .map-footer.d-flex {
        bottom: 10%;
    }

    .hide-on-desktop {
        display: none;
    }

    .show-on-desktop {
        display: block !important;
    }

    .map-box img:last-child {
        display: initial;
    }

    .figital-card-content {
        margin-bottom: 0;
    }

    .col-lg-4.col-md-6.position-relative.align-self-center {
        transform: initial;
    }

    .free-quote-block {
        margin-bottom: 0;
    }

    .story .story-item img,
    .story .story-item video {
        height: 350px;
    }

    h2.semi-large-title {
        font-size: 35px;
        line-height: 55px;
    }

    h2.semi-large-title {
        font-size: 38px;
    }

    .strong-font {
        font-size: 36px;
    }

    .content__container__list li {
        font-size: 54px;
    }

    section#ideas {
        margin-top: 380px;
    }

    .hovering {
        top: 45px;
        width: 110%;
    }

    section {
        margin: 150px 0;
    }

    .icon img {
        width: 80px;
    }

    .logo img {
        width: 210px;
    }

    .figure-block {
        transform: translateX(110px);
    }
}

h1.strong-font {
    text-align: center;
    margin: 110px 0;
    padding-top: 110px;
}

@media (min-width: 1400px) {
    .sub-page .semi-large-title span {
        font-size: 23px;
    }

    .sub-page .semi-large-title {
        font-size: 23px;
    }

    #partnership {
        width: 380px;
    }

    .inspiration.position-relative {
        bottom: 50px;
    }

    svg.inspiration-svg.show-on-desktop {
        bottom: -133px;
        padding: initial;
    }

    #contact .figital-animation {
        margin-left: 100px;
    }

    form label {
        font-size: 30px;
    }

    form input {
        font-size: 26px;
    }

    .map-footer.d-flex {
        bottom: 10%;
    }

    #ideas h2.semi-large-title {
        font-size: 30px;
        line-height: 50px;
    }

    .hovering {
        top: 0;
        width: 100%;
    }

    section {
        margin: 200px 0;
    }

    .logo img {
        width: 230px;
    }
}

@media (min-width: 1650px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: calc(100% - 305px) !important;
    }

    .footer-text {
        font-size: 18px;
    }

    .icon img {
        width: 100px;
    }

    #partnership {
        width: 400px;
    }

}

.star-title {
    position: absolute;
    right: 0;
    top: 0;
}

@media (min-width: 1900px) {
    .sub-page h2.semi-large-title {
        font-size: 23px !important;
    }

    .position-absolute.tape2 img {
        bottom: 89px;
    }

    .strong-font {
        font-size: 40px;
    }

    .figital-card-content div {
        font-size: initial;
    }

    .content__container__list li {
        font-size: 64px;
    }

    h2.semi-large-title {
        font-size: 46px !important;
        line-height: 70px !important;
    }

    .figure-block img {
        max-width: initial;
    }

    .figure-block {
        transform: translateX(0);
    }

    .sub-page .semi-large-title {
        font-size: 23px;
    }

    #partnership {
        width: 525px;
    }

    .strong-font {
        font-size: 50px;
    }

    form label {
        font-size: 48px;
    }

    form input {
        font-size: 36px;
    }

    .story .story-item img,
    .story .story-item video {
        height: 450px;
    }

    #contact .figital-animation {
        margin-left: 335px;
    }

    .inspiration.position-relative {
        bottom: 230px;
    }

    svg.inspiration-svg.show-on-desktop {
        bottom: 41px;

    }
}

@media (min-width: 2160px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1591px !important;
    }

    .hovering {
        top: -135px;
        width: 81%;
    }
}


@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes hovering {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translate(-30px, -50px);
    }

    100% {
        transform: translateY(0);
    }
}

#map .main-button:hover {
    width: 195px !important;
}

.main-button.join-us:hover {
    width: 170px !important;
}

.gif-hidden {
    position: absolute;
    z-index: 9;
}

div.position-relative span.coma {
    bottom: -7px;
}

span.coma {
    position: absolute;
    right: 0;
    bottom: -19px;
    font-size: 61px;
}

.gif-hidden img {
    border-radius: 30px;
}

.floating {
    animation: float 5s ease-in-out infinite;
}

.hovering {
    position: absolute;
    right: 0;
    animation: hovering 5s ease-in-out infinite;
    overflow: hidden;
}

.position-absolute.logo-partner {
    bottom: -208px;
    right: 0;
    width: 100%;
    z-index: 10;
    overflow-x: hidden;
}

.footer-text {
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.position-absolute.logo-partner img {
    animation: moveLeft2 20s linear infinite;
}


.position-absolute.tape2 {
    bottom: -453px;
    right: 0;
    width: 100%;
    height: 800px;
    z-index: 0;
    overflow: hidden;
}

.position-absolute.tape2 img {
    animation: moveLeft 20s linear infinite;
    position: absolute;
}

form input:focus {
    outline: 0;
}

.tape {
    bottom: -80px;
    right: 0;
    width: 100%;
    z-index: 9;
}

.tape img {
    width: 100%;
    height: 142px;
}

.icon-1 {
    position: absolute;
    bottom: -43px;
    left: 160px;
}

.icon-2 {
    position: absolute;
    right: 0;
    bottom: -77px;
}

.icon {
    right: 0;
    top: 0;
}

.main-button:hover {
    background: #fff;
    color: #000;
    width: 230px !important;
}

.main-button:hover svg {
    display: block !important;
    opacity: 1 !important;
}

.main-text {
    color: #fff;
    font-size: 23px;
    font-weight: 400;
    position: relative;
}

.nf-text {
    margin-top: 55px;
    margin-bottom: 80px;
}

.nf-box.position-relative {
    text-align: center;
    margin-left: 50px;
    z-index: 9;
}

.nf-text:before {
    content: '';
    width: 60%;
    height: 1px;
    background: #fff;
    position: absolute;
    top: -35px;
}

.content {
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    line-height: 80px;
    color: #ecf0f1;
}

.content__container {
    font-weight: 600;
    overflow: hidden;
    height: 80px;
}

.content__container__text {
    display: inline;
    float: left;
    margin: 0;
}

.content__container__list {
    margin-top: 0;
    text-align: left;
    list-style: none;
    padding-left: 0;
}

.content__container__list__item {
    line-height: 80px;
    margin: 0;
}

.star-decor {
    position: absolute;
    display: inline-grid;
    right: 0;
    bottom: 0;
}

.star-decor svg {
    margin-top: 10px;
    animation: rotate 3s infinite ease-in-out alternate-reverse;
}

.star-big {
    position: absolute;
    left: 0;
    top: 150px;
}

@keyframes rotate {
    0% {
        transform: rotate(200deg);
    }

    25% {
        transform: rotate(100deg);
    }

    50% {
        transform: rotate(100deg);
    }

    50% {
        transform: rotate(200deg);
    }
}

@keyframes moveLeft {
    from {
        transform: translate(0, 0) rotate(13deg);
    }

    to {
        transform: translate(calc(-50px * 30), -347px) rotate(13deg);
    }
}

@keyframes moveLeft2 {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-5600px / 2));
    }
}

@-webkit-keyframes opacity {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}


/* @-webkit-keyframes change {

    0%,
    12.66%,
    100% {
        transform: translate3d(0, 0, 0);
    }

    16.66%,
    29.32% {
        transform: translate3d(0, -25%, 0);
    }

    33.32%,
    45.98% {
        transform: translate3d(0, -50%, 0);
    }

    49.98%,
    62.64% {
        transform: translate3d(0, -75%, 0);
    }

    66.64%,
    79.3% {
        transform: translate3d(0, -50%, 0);
    }

    83.3%,
    95.96% {
        transform: translate3d(0, -25%, 0);
    }
} */

@-o-keyframes opacity {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@-o-keyframes change {

    0%,
    12.66%,
    100% {
        transform: translate3d(0, 0, 0);
    }

    16.66%,
    29.32% {
        transform: translate3d(0, -35%, 0);
    }

    33.32%,
    45.98% {
        transform: translate3d(0, -70%, 0);
    }

    49.98%,
    62.64% {
        transform: translate3d(0, -0, 0);
    }

    66.64%,
    79.3% {
        transform: translate3d(0, -35%, 0);
    }

    83.3%,
    95.96% {
        transform: translate3d(0, -70%, 0);
    }
}

@-moz-keyframes opacity {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@-moz-keyframes change {

    0%,
    12.66%,
    100% {
        transform: translate3d(0, 0, 0);
    }

    16.66%,
    29.32% {
        transform: translate3d(0, -35%, 0);
    }

    33.32%,
    45.98% {
        transform: translate3d(0, -70%, 0);
    }

    49.98%,
    62.64% {
        transform: translate3d(0, -0, 0);
    }

    66.64%,
    79.3% {
        transform: translate3d(0, -35%, 0);
    }

    83.3%,
    95.96% {
        transform: translate3d(0, -70%, 0);
    }
}

@keyframes opacity {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes change {

    0%,
    12.66%,
    100% {
        transform: translate3d(0, 0, 0);
    }

    16.66%,
    29.32% {
        transform: translate3d(0, -35%, 0);
    }

    33.32%,
    45.98% {
        transform: translate3d(0, -70%, 0);
    }

    49.98%,
    62.64% {
        transform: translate3d(0, -0, 0);
    }

    66.64%,
    79.3% {
        transform: translate3d(0, -35%, 0);
    }

    83.3%,
    95.96% {
        transform: translate3d(0, -70%, 0);
    }
}

.figital-animation svg:nth-child(2) {
    /* animation: moveRight 3s ease-in-out infinite; */
    animation: moveRight 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    margin-left: 25px !important;
    /* transform: translateX(40px); */
    transform: translateX(-88px);
}

.story-item.item img,
.story-item.item video {
    border: 1px solid #fff;
    border-radius: 15px;
}

.figital-animation svg:not(:nth-child(1)) {
    margin-left: 5px;
}

@keyframes moveRight {
    to {
        transform: translateX(0);
    }

    /* 0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(40px);
    }

    100% {
        transform: translateX(0);
    } */
}

@keyframes moveRight2 {
    to {
        transform: translateX(0);
    }
}

.figital-animation svg:nth-child(3) {
    animation: moveRight2 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    transform: translateX(-155px);
}

@keyframes moveRight3 {
    to {
        transform: translateX(0);
    }
}


.figital-animation svg:nth-child(4) {
    animation: moveRight3 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    transform: translateX(-217px);
}


.loading-bar {
    background: #d9d9d9;
    display: flex;
    height: 10px;
    width: 100%;
    max-width: 938px;
    box-shadow: inset 0px 0px 0px 1px #C8C8CD;
    border-radius: 50px;
    overflow: hidden;
}

.progress-bar {
    display: flex;
    height: 100%;
    width: 100%;
    background: #E53988 !important;
    animation: progress-animation 1s ease;
    border-radius: 10px;
    box-shadow: inset 0px 1px 4px 0px #00000094;
}

.loading-screen {
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: #fff;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s ease;
}

.map-img:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 300px;
    background-image: linear-gradient(to bottom, black, transparent);
    z-index: 1;
}

footer {
    background: #fff;
    padding: 110px 0;
}

.d-flex.footer-link {
    justify-content: end;
}

.d-flex.footer-link a {
    font-size: 18px;
    color: #000;
    text-decoration: underline !important;
    margin-left: 50px;
}

.d-fex.social-icon a {
    margin-left: 70px;
}

.d-fex.social-icon {
    text-align: end;
}

.kitten-run {
    width: 100%;
    max-width: 938px;
}

.map-box img:last-child {
    position: absolute;
    transform: translate(30px, 15px);
    opacity: 0;
    transition: 0.5s ease;
    pointer-events: none;
}

.map-box:hover img:last-child {
    opacity: 1;
}

.figital-animation.v2 svg:nth-child(2) {
    transform: translateX(0px);
}

.figital-animation.v2 svg:nth-child(3) {
    transform: translateX(10px);
}

.figital-animation.v2 svg:nth-child(4) {
    transform: translateX(20px);
}


.kitten-run img {
    animation: kitten-animation 1s ease;
}

.map-box {
    position: absolute;
    cursor: pointer;
    z-index: 8;
}

.map-box.cn {
    bottom: 45%;
    right: 36%;
    transform: translateX(-50%);
}

.map-vector {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column-reverse;
}

.map-vector img {
    margin-top: 10px;
}

.map-box.sn {
    bottom: -40px;
    right: 46%;
    transform: translateX(-50%);
}

.map-box.vn {
    bottom: 17%;
    right: 46%;
    transform: translateX(-50%);
}

@keyframes progress-animation {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes kitten-animation {
    0% {
        transform: translateX(-40%);
    }

    100% {
        transform: translateX(200%);
    }
}

@keyframes moveUp1 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0);
    }
}

/* .map-vector img:nth-child(2) {
    animation: moveUp1 3s ease-in-out infinite;
} */

@keyframes moveUp2 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-80px);
    }

    100% {
        transform: translateY(0);
    }
}

/* .map-vector img:nth-child(3) {
    animation: moveUp2 3s ease-in-out infinite;
} */

.map-footer.d-flex {
    position: absolute;
    right: 0;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
}

.map-footer div:last-child {
    margin-left: 100px;
}

.story {
    padding: 10px 5px;
}

.logo {
    cursor: pointer;
    z-index: 9;
}

/* .story.owl-carousel .owl-item.active:not(:first-child) {
    margin-right: 35px !important;
}

.story.owl-carousel .owl-item.active:first-child {
    margin-left: -30px !important;
} */

.story .story-item:hover img:first-child,
.story .story-item:hover video:first-child {
    opacity: 0;
}

.story .story-item:hover img:last-child,
.story .story-item:hover video:last-child {
    opacity: 1 !important;
}

.story .story-item img:last-child,
.story .story-item video:last-child {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
}

#nf h2.semi-large-title {
    bottom: -90px;
    z-index: 9;
    left: 0;
}


.story .story-item img,
.story .story-item video {
    border-radius: 15px;
    background: #3e7fff;
    color: white;
    position: relative;
    font-size: 13px;
    object-fit: cover;
    transition: 0.5s ease;
}

.story .story-item:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: .2;
    border-radius: 15px;
}

.story .story-item span {
    position: absolute;
    bottom: 0;
    padding: 10px 5px;
    font-family: sans-serif;
}

.story .owl-stage {
    right: 15px;
}

@keyframes paths {
    0% {
        clip-path: polygon(0% 43%,
                83% 43%,
                83% 22%,
                23% 22%,
                23% 24%,
                91% 24%,
                91% 26%,
                18% 26%,
                18% 83%,
                29% 83%,
                29% 17%,
                41% 17%,
                41% 39%,
                18% 39%,
                18% 82%,
                54% 82%,
                54% 88%,
                19% 88%,
                19% 4%,
                39% 4%,
                39% 14%,
                76% 14%,
                76% 52%,
                23% 52%,
                23% 35%,
                19% 35%,
                19% 8%,
                36% 8%,
                36% 31%,
                73% 31%,
                73% 16%,
                1% 16%,
                1% 56%,
                50% 56%,
                50% 8%);
    }

    5% {
        clip-path: polygon(0% 29%,
                44% 29%,
                44% 83%,
                94% 83%,
                94% 56%,
                11% 56%,
                11% 64%,
                94% 64%,
                94% 70%,
                88% 70%,
                88% 32%,
                18% 32%,
                18% 96%,
                10% 96%,
                10% 62%,
                9% 62%,
                9% 84%,
                68% 84%,
                68% 50%,
                52% 50%,
                52% 55%,
                35% 55%,
                35% 87%,
                25% 87%,
                25% 39%,
                15% 39%,
                15% 88%,
                52% 88%);
    }

    30% {
        clip-path: polygon(0% 53%,
                93% 53%,
                93% 62%,
                68% 62%,
                68% 37%,
                97% 37%,
                97% 89%,
                13% 89%,
                13% 45%,
                51% 45%,
                51% 88%,
                17% 88%,
                17% 54%,
                81% 54%,
                81% 75%,
                79% 75%,
                79% 76%,
                38% 76%,
                38% 28%,
                61% 28%,
                61% 12%,
                55% 12%,
                55% 62%,
                68% 62%,
                68% 51%,
                0% 51%,
                0% 92%,
                63% 92%,
                63% 4%,
                65% 4%);
    }

    45% {
        clip-path: polygon(0% 33%,
                2% 33%,
                2% 69%,
                58% 69%,
                58% 94%,
                55% 94%,
                55% 25%,
                33% 25%,
                33% 85%,
                16% 85%,
                16% 19%,
                5% 19%,
                5% 20%,
                79% 20%,
                79% 96%,
                93% 96%,
                93% 50%,
                5% 50%,
                5% 74%,
                55% 74%,
                55% 57%,
                96% 57%,
                96% 59%,
                87% 59%,
                87% 65%,
                82% 65%,
                82% 39%,
                63% 39%,
                63% 92%,
                4% 92%,
                4% 36%,
                24% 36%,
                24% 70%,
                1% 70%,
                1% 43%,
                15% 43%,
                15% 28%,
                23% 28%,
                23% 71%,
                90% 71%,
                90% 86%,
                97% 86%,
                97% 1%,
                60% 1%,
                60% 67%,
                71% 67%,
                71% 91%,
                17% 91%,
                17% 14%,
                39% 14%,
                39% 30%,
                58% 30%,
                58% 11%,
                52% 11%,
                52% 83%,
                68% 83%);
    }

    76% {
        clip-path: polygon(0% 26%,
                15% 26%,
                15% 73%,
                72% 73%,
                72% 70%,
                77% 70%,
                77% 75%,
                8% 75%,
                8% 42%,
                4% 42%,
                4% 61%,
                17% 61%,
                17% 12%,
                26% 12%,
                26% 63%,
                73% 63%,
                73% 43%,
                90% 43%,
                90% 67%,
                50% 67%,
                50% 41%,
                42% 41%,
                42% 46%,
                50% 46%,
                50% 84%,
                96% 84%,
                96% 78%,
                49% 78%,
                49% 25%,
                63% 25%,
                63% 14%);
    }

    90% {
        clip-path: polygon(0% 41%,
                13% 41%,
                13% 6%,
                87% 6%,
                87% 93%,
                10% 93%,
                10% 13%,
                89% 13%,
                89% 6%,
                3% 6%,
                3% 8%,
                16% 8%,
                16% 79%,
                0% 79%,
                0% 99%,
                92% 99%,
                92% 90%,
                5% 90%,
                5% 60%,
                0% 60%,
                0% 48%,
                89% 48%,
                89% 13%,
                80% 13%,
                80% 43%,
                95% 43%,
                95% 19%,
                80% 19%,
                80% 85%,
                38% 85%,
                38% 62%);
    }

    1%,
    7%,
    33%,
    47%,
    78%,
    93% {
        clip-path: none;
    }
}

.content__container__list__item {
    animation: paths 5s step-end infinite;
}

.content__container__list__item::before {
    animation: paths 5s step-end infinite, opacity 5s step-end infinite,
        font 8s step-end infinite, movement 10s step-end infinite;
    top: 10px;
    left: 15px;
    color: #e0287d;
}

.content__container__list__item::after {
    animation: paths 5s step-end infinite, opacity 5s step-end infinite,
        font 7s step-end infinite, movement 8s step-end infinite;
    top: 5px;
    left: -10px;
    color: #1bc7fb;
}

.content__container__list__item::before,
.content__container__list__item::after {
    content: attr(data-text);
    position: absolute;
    width: 110%;
    z-index: -1;
}

@keyframes opacity {
    0% {
        opacity: 0.1;
    }

    5% {
        opacity: 0.7;
    }

    30% {
        opacity: 0.4;
    }

    45% {
        opacity: 0.6;
    }

    76% {
        opacity: 0.4;
    }

    90% {
        opacity: 0.8;
    }

    1%,
    7%,
    33%,
    47%,
    78%,
    93% {
        opacity: 0;
    }
}

.font {
    animation: font 7s step-end infinite;
}

@keyframes font {
    0% {
        font-weight: 100;
        color: #E53988;
    }

    20% {
        font-weight: 500;
        color: #E53988;
    }

    50% {
        font-weight: 300;
        color: #E53988;
    }

    60% {
        font-weight: 700;
        color: #E53988;
        filter: blur(0);
    }

    90% {
        font-weight: 500;
        color: #E53988;
    }
}

@keyframes movement {
    0% {
        top: 0px;
        left: -20px;
    }

    15% {
        top: 10px;
        left: 10px;
    }

    60% {
        top: 5px;
        left: -10px;
    }

    75% {
        top: -5px;
        left: 20px;
    }

    100% {
        top: 10px;
        left: 5px;
    }
}